@*미나미시마바라
<div class="layerPop">
    <div class="layer-container">
        <div class="layer-conts">
            <a href="/Products/Views?C=NTBFT231821&K=23">
                <img src="~/Content/images/popup/popup_180913.png" style="width: 100%;" />
            </a>
        </div>
        <div class="layer-foot">
            <input type="checkbox" value="today" name="today" id="today">
            <label for="today">
                오늘 하루 창 닫음
            </label>
            <a href="javascript:;" class="layer-close">
                [닫기]
            </a>
        </div>
    </div>
</div>
<style>
    .layerPop {
        position: absolute;
        display: none;
        right: 5%;
        width: 700px;
        top: 18%;
        z-index: 999;
    }

    .layer-conts li {
        width: 350px !important;
    }

    .layer-foot {
        width: 100%;
        height: 25px;
        line-height: 25px;
        background: black;
        color: white;
        padding: 0 10px;
        font-size: 12px;
    }

        .layer-foot input {
            float: left;
            margin-right: 5px;
            margin-top: 7px;
            vertical-align: text-bottom;
        }

        .layer-foot label {
            margin: 0;
            font-weight: normal;
            letter-spacing: 0.5px;
        }

        .layer-foot a.layer-close {
            float: right;
            width: 40px;
            color: white;
        }
</style>*@

<div class="layerPop">
    <div class="layer-container">
        <div class="layer-conts">
            <img src="~/Content/images/popup/popup_181008.jpg" style="width: 100%;" />
        </div>
        <div class="layer-foot">
            <input type="checkbox" value="today" name="today" id="today">
            <label for="today">
                오늘 하루 창 닫음
            </label>
            <a href="javascript:;" class="layer-close">
                닫기 Ｘ
            </a>
        </div>
    </div>
</div>
<style>
.layerPop {
    position: absolute;
    display: none;
    right: 5%;
    width: 400px;
    top: 18%;
    z-index: 999;
}
.layer-foot {
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: #2a2a2a;
    color: white;
    padding: 0 10px;
    font-size: 12px;
}
.layer-foot input {
    float: left;
    margin-right: 5px;
    margin-top: 7px;
    vertical-align: text-bottom;
}
.layer-foot label {
    margin: 0;
    font-weight: normal;
    letter-spacing: 0.5px;
}
.layer-foot a.layer-close {
    float: right;
    width: 40px;
    color: white;
}
</style>

<section id="mainSlider">
    <ul class="bxslider">
        <li>
            <a href="/promotion/Views?f=minamishimabara" style="background-image: url('/Content/Images/newSample/mainSlider_minamishimabara.jpg');"></a>
        </li>
        <li>
            <a href="/promotion/Views?f=okinawapension" style="background-image: url('/Content/Images/newSample/mainSlider_okinawapension.jpg');"></a>
        </li>
        <li>
            <a href="/Products/Views?C=NTBVP3182&K=3" style="background-image: url('/Content/Images/Home/slider/mainSlider_kokonoeyamanamiolle.jpg');"></a>
        </li>
        <li>
            <a href="/Products/Views?C=NTBFT6183&K=6" style="background-image: url('/Content/Images/newSample/mainSlider_okuhidaonsen.jpg');"></a>
        </li>
        <li>
            <a href="/promotion/Views?f=osakacycling" style="background-image: url('/Content/Images/newSample/mainSlider_osakacycling.jpg');"></a>
        </li>
    </ul> <!--.bxslider-->
    <div class="slideMenu">
        <ul>
            <li>
                <a data-slide-index="0"><h4>여행지원 프로젝트</h4></a>
            </li>
            <li>
                <a data-slide-index="1"><h4>오키나와 풀빌라·펜션</h4></a>
            </li>
            <li>
                <a data-slide-index="2"><h4>고코노에·야마나미 올레</h4></a>
            </li>
            <li>
                <a data-slide-index="3"><h4>오쿠히다 온천</h4></a>
            </li>
            <li>
                <a data-slide-index="4"><h4>오사카 사이클링</h4></a>
            </li>
        </ul>
    </div> <!--.sliderMenu-->
</section> <!--#mainSlider-->
<section id="subMenu">
    <ul>
        <li>
            <a href="/variety">
                <h4 style="background-image: url('/Content/Images/newSample/icon_nvp.png');">
                    버라이어티팩
                </h4>
            </a>
            <p class="explain">
                버라이어티팩?<br />
                일반적인 여행상품과 차별화 된<br />
                여행상품으로 엔타비가 개발하고<br />
                기획한 특별한 컨셉의 여행상품입니다.<br />
            </p>
        </li>
        <li>
            <a href="/AirFree/Lists">
                <h4 style="background-image: url('/Content/Images/newSample/icon_afp.png');">
                    에어프리팩
                </h4>
            </a>
            <p class="explain">
                에어프리팩?<br />
                항공권을 개별적으로 구매하여 기존의<br />
                패키지 여행일정을 현지에서 합류하여<br />
                여행할 수 있는 여행상품으로 편리한 일정선택과<br />
                여행경비를 절감 할 수 있습니다.<br />
            </p>
        </li>
        <li>
            <a href="/promotion/Views?f=helpmaho">
                <h4 style="background-image: url('/Content/Images/newSample/icon_helpmaho.png');">
                    도와줘요 마호상!
                </h4>
            </a>
            <p class="explain">
                도와줘요 마호상?!<br />
                일본 여행 준비할 때 언어소통이 어려워<br />
                직접 알아보기 힘든 예약 시설에 대해<br />
                도움을 드리기 위한 서비스 입니다.
            </p>
        </li>
        @*<li>
                <a href="/Products/Lists">
                    <h4 style="background-image: url('/Content/Images/newSample/icon_Ntalk.png');">
                        엔 톡
                    </h4>
                </a>
                <p class="explain">
                    엔톡?<br />
                    실시간 최저가 항공·선박권의 조회,발권까지<br />
            상담해 드리는 1:1 채팅 서비스로 여행계획중에<br />
            또는 긴급상황(결항 및 개인 사정)등 필요한<br />
            티켓을 안내해드립니다.
                </p>
            </li>*@
        <li>
            <a href="/Pass/Lists">
                <h4 style="background-image: url('/Content/Images/newSample/icon_pass.png');">
                    패스 / 티켓
                </h4>
            </a>
        </li>
        <li>
            <a href="https://www.web-rentacar.com/kr/agt/ntabi.asp?afrieitcd=ntabi" target="_blank">
                <h4 style="background-image: url('/Content/Images/newSample/icon_rentcar.png');">
                    렌트카
                </h4>
            </a>
        </li>
        <li>
            <a href="https://www.kosokubus.com/kr/special/agt/ntabi.html?ad=NTB" target="_blank">
                <h4 style="background-image: url('/Content/Images/newSample/icon_kosokubus.png');">
                    일본고속버스 예약
                </h4>
            </a>
        </li>
        @*<li>
                <a href="https://www.booking.com/?aid=1294434" target="_blank">
                    <h4 style="background-image: url('/Content/Images/newSample/icon_booking.png');">
                        부킹닷컴
                    </h4>
                </a>
            </li>*@
    </ul>
</section> <!--#subMenu-->
<section id="NVP">
    <ul>
        <li class="nvp1">
            <p class="image"><img src="/Content/Images/Home/varietypack/img_GoToGOTO.jpg"></p>
            <div class="text">
                <h3>
                    <span class="small">엔타비가 만드는 여행시리즈</span><br>
                    고토열도<br>백패킹 원정대
                </h3>
                <p class="icon">아이콘</p>
                <p class="nvpline">라인</p>
                <p class="info">
                    <span class="nvptit">엔타비 버라이어티팩</span><br>
                    [Go To GOTO]<br>
                    코발트블루 빛 해변<br>
                    세계문화유산의 성지<br>
                    숨겨진 비경!
                </p>
                <p class="btn"><a href="/promotion/Views?f=GoToGOTO">보러가기</a></p>
            </div>
        </li> <!--.nvp1-->
        <li class="nvp2">
            <p class="image"><img src="/Content/Images/newSample/img_autumnromancekyushu.jpg"></p>
            <div class="text">
                <h3>
                    <span class="small">엔타비가 만드는 여행시리즈</span><br>
                    낭만규슈 여행
                </h3>
                <p class="icon">아이콘</p>
                <p class="nvpline">라인</p>
                <p class="info">
                    <span class="nvptit">엔타비 에어프리팩</span><br>
                    [알찬여행]<br>
                    NO옵션,NO쇼핑!<br>
                    틀에박힌 패키지 단점은 빼고<br>
                    여행의 장점을 더하다.
                </p>
                <p class="btn"><a href="/promotion/Views?f=autumnromancekyushu">보러가기</a></p>
            </div> <!--.text-->
        </li> <!--.nvp2-->
        <li class="nvp3">
            <p class="image"><img src="/Content/Images/newSample/img_JMT.jpg"></p>
            <div class="text">
                <h3>
                    <span class="small">엔타비가 만드는 여행시리즈</span><br>
                    존맛탱 투어
                </h3>
                <p class="icon">아이콘</p>
                <p class="nvpline">라인</p>
                <p class="info">
                    <span class="nvptit">엔타비 버라이어티팩</span><br>
                    [맛있는 여행]<br>
                    요즘뜨는 핫한 그곳!!<br>
                    시모노세키/모지코/고쿠라<br>
                    JMT여행!!
                </p>
                <p class="btn"><a href="/Products/Views?C=NTBPT201817&K=20">보러가기</a></p>
            </div> <!--.text-->
        </li> <!--.nvp3-->
    </ul>
</section> <!--#NVP-->
<section id="bestPd">
    <h2>베스트</h2>
    <ul>
        <li>
            <a href="/Products/Views?C=NTBFT20189&K=20">
                <p class="image"><img src="/Content/Images/Home/bestproduct/img_best01_180918.jpg"></p>
                <div class="text">
                    <p class="tit">비틀 ２박３일 왕복승선권</p>
                    <p class="subtit">
                        후쿠오카 가는<br>
                        가장 저렴한 방법!
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li01-->
        <li>
            <a href="/Products/Views?C=NTBPT201812&K=20">
                <p class="image"><img src="/Content/Images/newSample/img_best02_180912.jpg"></p>
                <div class="text">
                    <p class="tit">히타카츠 당일치기 힐링패키지</p>
                    <p class="subtit">
                        [오션플라워] 동행가이드와 떠나는<br>
                        안심패키지!!
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li02-->
        <li>
            <a href="/Products/Views?C=NTBFT2183&K=2">
                <p class="image"><img src="/Content/Images/newSample/img_best03_180912.jpg"></p>
                <div class="text">
                    <p class="tit">부관훼리 ３박４일 왕복승선권</p>
                    <p class="subtit">
                        반나절 여행으로는 부족하다!<br>
                        현지 １박 숙박으로 알차게!
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li03-->
        <li>
            <a href="/Products/Views?C=NTBFT21181&K=21">
                <p class="image"><img src="/Content/Images/newSample/img_best04_180912.jpg"></p>
                <div class="text">
                    <p class="tit">카멜리아 ２박３일 왕복승선권</p>
                    <p class="subtit">
                        날짜한정 초특급특가!<br>
                        저렴이로 떠나는 후쿠오카여행
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li04-->
        <li>
            <a href="/Products/Views?C=NTBFT21186&K=21">
                <p class="image"><img src="/Content/Images/newSample/img_best05_180912.jpg"></p>
                <div class="text">
                    <p class="tit">팬스타크루즈 여행 ５박６일</p>
                    <p class="subtit">
                        여유로운 ５박６일 일정<br>
                        오감만족 간사이의 매력!
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li05-->
        <li>
            <a href="/Products/Views?C=NTBFT61811&K=6">
                <p class="image"><img src="/Content/Images/newSample/img_best06.jpg"></p>
                <div class="text">
                    <p class="tit">북해도 항공권 ３일</p>
                    <p class="subtit">
                        [대한항공] 사전예약 할인<br>
                        원하는 일정으로 변경 가능.
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li06-->
        <li>
            <a href="/Products/Views?C=NTBPT3185&K=3">
                <p class="image"><img src="/Content/Images/Home/bestproduct/img_best07_181008.jpg"></p>
                <div class="text">
                    <p class="tit">야마구치-후쿠오카 ２박３일 패키지</p>
                    <p class="subtit">
                        진에어 10월/11월 269,000원 특가!!!
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li07-->
        <li>
            <a href="/Products/Views?C=NTBFT61816&K=6">
                <p class="image"><img src="/Content/Images/newSample/img_best08_180912.jpg"></p>
                <div class="text">
                    <p class="tit">오키나와 실속세트 ３일</p>
                    <p class="subtit">
                        항공권 + 버스투어<br>
                        10월의 묶음 특가!
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li08-->
        <li>
            <a href="/Products/Views?C=NTBPT3184&K=3">
                <p class="image"><img src="/Content/Images/newSample/img_best09_180912.jpg"></p>
                <div class="text">
                    <p class="tit">북규슈 온천/호텔 여행</p>
                    <p class="subtit">
                        [에어부산] 북규슈 ２박３일
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li09-->
        <li>
            <a href="/Products/Views?C=NTBFT23183&K=23">
                <p class="image"><img src="/Content/Images/newSample/img_best10_180912.jpg"></p>
                <div class="text">
                    <p class="tit">기타규슈 항공권 ２박３일</p>
                    <p class="subtit">
                        [진에어] 새로운 맛과 멋의 기타규슈
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li10-->
    </ul>
</section> <!--#bestPd-->
<section id="signature">
    <h2>시그니처</h2>
    <ul>
        <li>
            <a href="/promotion/Views?f=ferrytwo">
                <p class="image"><img src="/Content/Images/newSample/img_signature01.jpg"></p>
                <p class="text">
                    부산출발<br>선박 ２대장
                </p>
            </a>
        </li> <!--li01-->
        <li>
            <a href="/promotion/Views?f=kyushuolle">
                <p class="image"><img src="/Content/Images/newSample/img_signature02.jpg"></p>
                <p class="text">
                    규슈올레<br>트래킹 패키지
                </p>
            </a>
        </li> <!--li02-->
        <li>
            <a href="/promotion/Views?f=tvshimonoseki">
                <p class="image"><img src="/Content/Images/newSample/img_signature03.jpg"></p>
                <p class="text">
                    티비나온 바로거기!<br>시모노세키 특집!
                </p>
            </a>
        </li> <!--li03-->
        <li>
            <a href="/Products/Views?C=NTBFT21186&K=21">
                <p class="image"><img src="/Content/Images/newSample/img_signature04_180910.jpg"></p>
                <p class="text">
                    오사카 승선권<br>팬스타 크루즈
                </p>
            </a>
        </li> <!--li04-->
        <li>
            <a href="/Products/hViews?C=NTBFT221813&K=22">
                <p class="image"><img src="/Content/Images/newSample/img_signature05.jpg"></p>
                <p class="text">
                    오사카 ３대호텔 예약<br>특전 이벤트!
                </p>
            </a>
        </li> <!--li05-->
        <li>
            <a href="/Products/Views?C=NTBPT20186&K=20">
                <p class="image"><img src="/Content/Images/newSample/img_signature06.jpg"></p>
                <p class="text">
                    대마도 １박２일 패키지<br>소아루리조트 바베큐+온천
                </p>
            </a>
        </li> <!--li06-->
    </ul>
</section> <!--#signature-->
<section id="menuEct">
    <div class="menuEctIn">
        <ul class="upper">
            <li class="theme">
                <a href="/Recommend">
                    <p class="bg">배경</p>
                    <p class="text">
                        <span class="tit">테마있는여행</span><br>
                        료칸，테마파크 등<br>원하는 테마를 골라가는 여행
                    </p>
                </a>
            </li> <!--.theme-->
            <li class="checklist">
                <a href="/Checklists">
                    <p class="bg">배경</p>
                    <p class="text">
                        <span class="tit">여행전 체크리스트</span><br>
                        포켓와이파이, 보험, 렌트카 등<br>미리미리 준비하자!
                    </p>
                </a>
            </li> <!--.checklist-->
        </ul> <!--.upper-->
        <ul class="under">
            <li class="qna">
                <a href="/Community/Lists?type=qna">
                    <p class="bg">배경</p>
                    <p class="tit">질문과 답변</p>
                </a>
            </li> <!--.qna-->
            <li class="custom">
                <a href="/Community/Lists?type=customer">
                    <p class="bg">배경</p>
                    <p class="tit">맞춤 여행견적 문의</p>
                </a>
            </li> <!--.custom-->
            <li class="magazine">
                <a href="/Magazine">
                    <p class="bg">배경</p>
                    <p class="tit">해외여행의 바이블<br />NTABI MAGAZINE</p>
                </a>
            </li> <!--.magazine-->
        </ul> <!--.under-->
    </div> <!--.menuEctIn-->
</section> <!--#menuEct-->
<section id="sns">
    <h3>#인스타그램</h3>
    <div id="instafeed">
    </div>
</section>

<script src="~/Scripts/instafeed.min.js"></script>

<script>
    $(document).ready(function () {
        var mainSlider = $('.bxslider').bxSlider({
            controls: false,
            auto: true,
            //autoHover: true,
            mode: "fade",
            speed: 2000,
            pagerCustom: $(".slideMenu"),
        });

        var userFeed = new Instafeed({
            get: 'user',
            userId: 3180536851,
            sortBy: "most-recent",
            limit: 7,
            template: '<a href="{{link}}" target="_blank"><img src="{{image}}" /></a>',
            accessToken: '3180536851.cd01c72.412123b28bd543b98b6256390fada5e0',
            //resolution: "low_resolution"
        });

        userFeed.run();

        var date = new Date();

        if ($.cookie("div .layerpop") != (date.getMonth() + 1) + "-" + date.getDate()) {
            $(".layerPop").show(0);
        }

        $("div .layerPop a.layer-close").on("click", function () {
            if ($(this).siblings("#today").is(":checked")) {
                setCookie();
            }

            $("div .layerPop").fadeOut();
        });

        function setCookie() {
            var today = new Date();

            $.cookie("div .layerpop", (today.getMonth() + 1) + "-" + today.getDate(), { expires: 1 });
        }

    });
</script>