@{
    Layout = null;

    string url = Request["r"];
}

<style>
    div.modal-backdrop.in {
        opacity: .8;
    }

    div.modal.login div.modal-dialog {
        width: 400px;
    }

    div.modal.login div.modal-content {
        background-color: transparent;
        box-shadow: none;
        border: none;
        margin-top: 30%;
        color: white;
    }

    div.modal.login div.modal-header {
        font-size: 14px;
        text-align: center;
        padding-bottom: 5px;
    }

        div.modal.login div.modal-header button.close {
            color: white;
            opacity: 1;
        }

        div.modal.login div.modal-header h4.modal-title {
            font-size: 24px;
            color: white;
        }

        div.modal.login div.modal-header > div {
            text-align: right;
            margin-top: 10px;
        }

            div.modal.login div.modal-header > div > a {
                color: white;
            }

    div.modal.login div.modal-body {
        padding: 10px 0;
    }

        div.modal.login div.modal-body div.form-group {
            line-height: 30px;
        }

            div.modal.login div.modal-body div.form-group > label {
                width: 63px;
                text-align: right;
                padding-left: 0;
            }

            div.modal.login div.modal-body div.form-group > div {
                padding: 0;
            }

                div.modal.login div.modal-body div.form-group > div > input {
                    border: none;
                    width: 190px;
                    color: white;
                    border-radius: 0;
                    background-color: transparent;
                    border-bottom: 1px solid white;
                }

        div.modal.login div.modal-body button.btn {
            position: absolute;
            right: 0;
            top: 10px;
            width: 120px;
            height: 85px;
            border-radius: 0;
            background: transparent;
            color: white;
            font-size: 16px;
        }

    div.modal.login div.modal-footer {
        padding-top: 0;
    }

        div.modal.login div.modal-footer div.otherlogin {
        }

            div.modal.login div.modal-footer div.otherlogin ul {
                padding: 0;
                margin-top: 10px;
            }

                div.modal.login div.modal-footer div.otherlogin ul li {
                    width: 49%;
                    padding: 5px 0;
                    margin-bottom: 5px;
                    text-align: center;
                }

                    div.modal.login div.modal-footer div.otherlogin ul li.naver {
                        float: left;
                        border: 1px solid #00c73c;
                    }

                    div.modal.login div.modal-footer div.otherlogin ul li.facebook {
                        float: right;
                        border: 1px solid #4267b2;
                    }

                    div.modal.login div.modal-footer div.otherlogin ul li a {
                        diaplay: block;
                        padding: 8px 0;
                        color: white;
                        font-size: 12px;
                        letter-spacing: -0.8px;
                    }
</style>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">login</h4>
            <div>
                <a href="/Members/chkMail">회원가입</a>
                <span>|</span>
                <a href="/Members/getidpwd">아이디/비밀번호 찾기</a>
            </div>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-inline", name = "loginForm", onsubmit = "return false" }))
            {
            <div class="form-group">
                <label for="inputID" class="col-sm-3 control-label">ID - </label>
                <div class="col-sm-9">
                    @Html.TextBox("inputID", "", new { @class = "form-control", @placeholder = "아이디" })
                </div>
            </div>
            <div class="form-group">
                <label for="inputID" class="col-sm-3 control-label">PW - </label>
                <div class="col-sm-9">
                    @Html.Password("inputPassword", "", new { @class = "form-control", @placeholder = "비밀번호" })
                </div>
            </div>

            <button class="btn btn-default login">로그인</button>
            }
        </div>
        <div class="modal-footer">
            <div class="otherlogin">
                <ul>
                    <li class="naver">
                        <a href="#">네이버 로그인</a>
                    </li>
                    <li class="facebook">
                        <a href="#">페이스북 로그인</a>
                    </li>
                </ul>
            </div> <!--.otherlogin-->
            <label>
                <input type="checkbox" name="setid" id="setid" /> 아이디 저장
            </label>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.cookie.js"></script>

<script>
    function statusChangeCallback(response) {
        if (response.status === 'connected') {
            testAPI();
        } else if (response.status === 'not_authorized') {
            console.log("not_authorized");
        } else {
            alert("페이스북 로그인을 취소 하셨습니다.");
        }
    }

    function testAPI() {
        FB.api('/me', { fields: 'name, email, gender' }, function (response) {
            var url = "/Members/snsLogin";

            response.type = "facebook";
            response.redirect = (window.location.pathname + window.location.search);

            $.post(url, response, function (data) {
                location.href = data;
            });
        });
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '1419630901383769',
            cookie: true,  // enable cookies to allow the server to access
            // the session
            xfbml: true,  // parse social plugins on this page
            version: 'v2.5' // use graph api version 2.5
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ko_KR/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    $(document).ready(function () {

        $("#setid").on("click", function () {
            var _this = $(this);
            var id = $("input[name='inputID']").val();

            if (_this.is(":checked") == true) {
                $.cookie('userID', id);
            } else {
                $.removeCookie('userID');
            }
        });

        var ckID = $.cookie('userID');

        if (ckID != "" && ckID != undefined) {
            $("#setid").attr("checked", true);
            $("input[name='ndtId']").val(ckID);
        }

        $("li.facebook a").on("click", function () {
            FB.login(function (response) {
                if (response.authResponse) {
                    statusChangeCallback(response);
                }
            }, { scope: 'email' });
        });

        $("li.naver a").on("click", function () {
            var url = "/Members/naverLogin";

            window.open(url, 'naverlogin');
        });

        $("input#setid").on("click", function () {
            var _this = $(this);
            var id = $("input#inputID").val();

            if (_this.is(":checked") == true) {
                $.cookie('userID', id);
            } else {
                $.removeCookie('userID');
            }
        });

        var ckID = $.cookie('userID');

        if (ckID != "" && ckID != undefined) {
            $("#setid").attr("checked", true);
            $("input#inputID").val(ckID);
        }

        $("form[name=loginForm] button.login").on("click", function (e) {
            var rUrl = "/",
                _this = $(this);

            if ("@url" != "") {
                rUrl = decodeURIComponent("@url").replace(/&amp;/gi, "&").replace("&amp;", "&"); //decodeURIComponent(window.location.search).substring(3);
            }

            var id = $("input#inputID");
            var pwd = $("input#inputPassword");

            if (id.val() == "") {
                alert("아이디를 입력해주세요.");
                id.focus();
                return;
            }

            if (pwd.val() == "") {
                alert("비밀번호를 입력해주세요.");
                pwd.focus();
                return;
            }

            _this.attr("disabled", true);

            var url = "/Members/getLogin";
            var data = { id: id.val(), pwd: pwd.val() };

            $.ajax({
                type: "POST",
                url: url,
                data: data,
                success: function (rData) {
                    alert(rData);

                    _this.attr("disabled", false);

                    if (rData.indexOf("반갑습니다.") > -1) {
                        location.href = rUrl;

                        //var user = $.cookie('user');

                        //console.log(user);

                        //$(".login").modal('hide');
                        //$("nav.top-nav").load(window.location.href + " nav.top-nav div");
                        //$("input#user").val(user);
                    }
                }
                , beforeSend: function () {
                    $('#loading').show();
                }
                , complete: function () {
                    $('#loading').hide();
                }
            });
        });
    });
</script>