<section id="mainSlider">
    <ul class="bxslider">
        <li>
            <a href="/promotion/Views?f=minamishimabara" style="background-image: url('/Content/Images/newSample/mainSlider_minamishimabara.jpg');"></a>
        </li>
        <li>
            <a href="/promotion/Views?f=osakasetpack" style="background-image: url('/Content/Images/newSample/mainSlider_osakasetpack.jpg');"></a>
        </li>
        <li>
            <a href="/promotion/Views?f=miyagiolle" style="background-image: url('/Content/Images/newSample/mainSlider_miyagiolle.jpg');"></a>
        </li>
        <li>
            <a href="/Promotion/Views?f=naturekamchatka" style="background-image: url('/Content/Images/newSample/mainSlider_naturekamchatka.jpg');"></a>
        </li>
        <li>
            <a href="/promotion/Views?f=osakacycling" style="background-image: url('/Content/Images/newSample/mainSlider_osakacycling.jpg');"></a>
        </li>
    </ul> <!--.bxslider-->
    <div class="slideMenu">
        <ul>
            <li>
                <a data-slide-index="0"><h4>여행지원 프로젝트</h4></a>
            </li>
            <li>
                <a data-slide-index="1"><h4>오사카 9월 3+1 특전 세트팩</h4></a>
            </li>
            <li>
                <a data-slide-index="2"><h4>미야기올레 개장행사</h4></a>
            </li>
            <li>
                <a data-slide-index="3"><h4>대자연의 캄차카</h4></a>
            </li>
            <li>
                <a data-slide-index="4"><h4>오사카 사이클링</h4></a>
            </li>
        </ul>
    </div> <!--.sliderMenu-->
</section> <!--#mainSlider-->
<section id="subMenu">
    <ul>
        <li>
            <a href="/variety">
                <h4 style="background-image: url('/Content/Images/newSample/icon_nvp.png');">
                    버라이어티팩
                </h4>
            </a>
            <p class="explain">
                버라이어티팩?<br />
                일반적인 여행상품과 차별화 된<br />
                여행상품으로 엔타비가 개발하고<br />
                기획한 특별한 컨셉의 여행상품입니다.<br />
            </p>
        </li>
        <li>
            <a href="/AirFree/Lists">
                <h4 style="background-image: url('/Content/Images/newSample/icon_afp.png');">
                    에어프리팩
                </h4>
            </a>
            <p class="explain">
                에어프리팩?<br />
                항공권을 개별적으로 구매하여 기존의<br />
                패키지 여행일정을 현지에서 합류하여<br />
                여행할 수 있는 여행상품으로 편리한 일정선택과<br />
                여행경비를 절감 할 수 있습니다.<br />
            </p>
        </li>
        <li>
            <a href="/Pass/Lists">
                <h4 style="background-image: url('/Content/Images/newSample/icon_pass.png');">
                    패스 / 티켓
                </h4>
            </a>
        </li>
        <li>
            <a href="https://www.web-rentacar.com/kr/agt/ntabi.asp?afrieitcd=ntabi" target="_blank">
                <h4 style="background-image: url('/Content/Images/newSample/icon_rentcar.png');">
                    렌트카
                </h4>
            </a>
        </li>
        <li>
            <a href="https://www.kosokubus.com/kr/special/agt/ntabi.html?ad=NTB" target="_blank">
                <h4 style="background-image: url('/Content/Images/newSample/icon_kosokubus.png');">
                    일본고속버스 예약
                </h4>
            </a>
        </li>
        <li>
            <a href="https://www.booking.com/?aid=1294434" target="_blank">
                <h4 style="background-image: url('/Content/Images/newSample/icon_booking.png');">
                    부킹닷컴
                </h4>
            </a>
        </li>
    </ul>
</section> <!--#subMenu-->
<section id="NVP">
    <ul>
        <li class="nvp1">
            <p class="image"><img src="/Content/Images/newSample/img_rooftopparty.jpg"></p>
            <div class="text">
                <h3>
                    <span class="small">엔타비가 만드는 여행시리즈</span><br>
                    한여름 루프탑<br>party
                </h3>
                <p class="icon">아이콘</p>
                <p class="nvpline">라인</p>
                <p class="info">
                    <span class="nvptit">엔타비 버라이어티팩</span><br>
                    [시즌기획]<br>
                    Hello~ 낯선사람!<br>
                    새로운 곳에서의 새로운 만남.<br>
                    20,30대만의 청춘여행!
                </p>
                <p class="btn"><a href="/promotion/Views?f=rooftopparty">보러가기</a></p>
            </div> <!--.text-->
        </li> <!--.nvp1-->
        <li class="nvp2">
            <p class="image"><img src="/Content/Images/newSample/img_JMT.jpg"></p>
            <div class="text">
                <h3>
                    <span class="small">엔타비가 만드는 여행시리즈</span><br>
                    존맛탱 투어
                </h3>
                <p class="icon">아이콘</p>
                <p class="nvpline">라인</p>
                <p class="info">
                    <span class="nvptit">엔타비 버라이어티팩</span><br>
                    [맛있는 여행]<br>
                    요즘뜨는 핫한 그곳!!<br>
                    시모노세키/모지코/고쿠라<br>
                    JMT여행!!
                </p>
                <p class="btn"><a href="/Products/Views?C=NTBPT201817&K=20">보러가기</a></p>
            </div> <!--.text-->
        </li> <!--.nvp2-->
        <!--li class="nvp3">
            <p class="image"><img src="/Content/Images/newSample/img_japanautumn.jpg"></p>
            <div class="text">
                <h3>
                    <span class="small">엔타비가 만드는 여행시리즈</span><br>
                    COMMING SOON
                </h3>
                <p class="icon">아이콘</p>
                <p class="nvpline">라인</p>
                <p class="info">
                    <span class="nvptit">엔타비 버라이어티팩</span><br>
                    지금은 상품준비중 입니다<br>
                    더 나은 상품으로<br>
                    찾아뵙겠습니다.
                </p>
                <p class="btn"><a href="/Products/Views?C=NTBPT201817&K=20">보러가기</a></p>
            </div>
        </li-->
    </ul>
</section> <!--#NVP-->
<section id="bestPd">
    <h2>베스트</h2>
    <ul>
        <li>
            <a href="/promotion/Views?f=chuseok">
                <p class="image"><img src="/Content/Images/newSample/img_best01.jpg"></p>
                <div class="text">
                    <p class="tit">추석여행 패키지 모음</p>
                    <p class="subtit">
                        이번추석에는 여행좀 갔다 올게요.<br>
                        추석연휴 출발 일본패키지여행 모음.
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li01-->
        <li>
            <a href="/promotion/Views?f=enjoytsushima">
                <p class="image"><img src="/Content/Images/newSample/img_best02.jpg"></p>
                <div class="text">
                    <p class="tit">대마도를 즐기는 다양한 방법</p>
                    <p class="subtit">
                        hot한 선박상품 모음!
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li02-->
        <li>
            <a href="/Products/Views?C=NTBPT201818&K=20">
                <p class="image"><img src="/Content/Images/newSample/img_best03.jpg"></p>
                <div class="text">
                    <p class="tit">박현빈과 함께하는 대마도 ２일</p>
                    <p class="subtit">
                        [오션플라워]<br>
                        박현빈 콘서트를 대마도에서?!
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li03-->
        <li>
            <a href="/Products/Views?C=NTBFT61816&K=6">
                <p class="image"><img src="/Content/Images/newSample/img_best04.jpg"></p>
                <div class="text">
                    <p class="tit">[항공+투어]오키나와 실속세트</p>
                    <p class="subtit">
                        진에어+오키나와 버스투어<br>
                        떳다-９월의 묶음특가!
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li04-->
        <li>
            <a href="/Products/Views?C=NTBFT23183&K=23">
                <p class="image"><img src="/Content/Images/newSample/img_best05.jpg"></p>
                <div class="text">
                    <p class="tit">기타규슈 항공권 2박3일</p>
                    <p class="subtit">
                        [진에어] 새로운 맛과 멋의 기타규슈
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li05-->
        <li>
            <a href="/Products/Views?C=NTBFT61811&K=6">
                <p class="image"><img src="/Content/Images/newSample/img_best06.jpg"></p>
                <div class="text">
                    <p class="tit">북해도 항공권 3일</p>
                    <p class="subtit">
                        [대한항공] 사전예약 할인<br>
                        원하는 일정으로 변경 가능.
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li06-->
        <li>
            <a href="/Products/Views?C=NTBFT6183&K=6">
                <p class="image"><img src="/Content/Images/newSample/img_best07.jpg"></p>
                <div class="text">
                    <p class="tit">오쿠히다 온천 4일</p>
                    <p class="subtit">
                        북알프스의 숨겨진 명탕(名湯)
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li07-->
        <li>
            <a href="/Products/Views?C=NTBPT201821&K=20">
                <p class="image"><img src="/Content/Images/newSample/img_best08.jpg"></p>
                <div class="text">
                    <p class="tit">부관훼리 2박3일 패키지</p>
                    <p class="subtit">
                        일본 최대규모의 야마구치 꽃박람회<br>
                        요즘 핫한 가라토시장&모지코
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li08-->
        <li>
            <a href="/Products/Views?C=NTBFT2181&K=2">
                <p class="image"><img src="/Content/Images/newSample/img_best09.jpg"></p>
                <div class="text">
                    <p class="tit">부관훼리 2박3일 왕복 승선권</p>
                    <p class="subtit">
                        [부관훼리] 고쿠라 특집!
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li09-->
        <li>
            <a href="/Products/Views?C=NTBPT231816&K=23">
                <p class="image"><img src="/Content/Images/newSample/img_best10.jpg"></p>
                <div class="text">
                    <p class="tit">박현빈과 함께 단풍/온천여행</p>
                    <p class="subtit">
                        [카멜리아] ３박４일 패키지<br>
                        11월 28일 단 하루 출발!
                    </p>
                </div> <!--.text-->
            </a>
        </li> <!--li10-->
    </ul>
</section> <!--#bestPd-->
<section id="signature">
    <h2>시그니처</h2>
    <ul>
        <li>
            <a href="/promotion/Views?f=ferrytwo">
                <p class="image"><img src="/Content/Images/newSample/img_signature01.jpg"></p>
                <p class="text">
                    부산출발<br>선박 ２대장
                </p>
            </a>
        </li> <!--li01-->
        <li>
            <a href="/promotion/Views?f=kyushuolle">
                <p class="image"><img src="/Content/Images/newSample/img_signature02.jpg"></p>
                <p class="text">
                    규슈올레<br>트래킹 패키지
                </p>
            </a>
        </li> <!--li02-->
        <li>
            <a href="/promotion/Views?f=tvshimonoseki">
                <p class="image"><img src="/Content/Images/newSample/img_signature03.jpg"></p>
                <p class="text">
                    티비나온 바로거기!<br>시모노세키 특집!
                </p>
            </a>
        </li> <!--li03-->
        <li>
            <a href="/promotion/Views?f=okinawapension">
                <p class="image"><img src="/Content/Images/newSample/img_signature04.jpg"></p>
                <p class="text">
                    오키나와<br>풀빌라&amp;펜션
                </p>
            </a>
        </li> <!--li04-->
        <li>
            <a href="/Products/hViews?C=NTBFT221813&K=22">
                <p class="image"><img src="/Content/Images/newSample/img_signature05.jpg"></p>
                <p class="text">
                    오사카 ３대호텔 예약<br>특전 이벤트!
                </p>
            </a>
        </li> <!--li05-->
        <li>
            <a href="/Products/Views?C=NTBPT201816&K=20">
                <p class="image"><img src="/Content/Images/newSample/img_signature06.jpg"></p>
                <p class="text">
                    대마도 １박２일 패키지<br>소아루리조트 bbq+온천
                </p>
            </a>
        </li> <!--li06-->
    </ul>
</section> <!--#signature-->
<section id="menuEct">
    <div class="menuEctIn">
        <ul class="upper">
            <li class="theme">
                <a href="/Recommend">
                    <p class="bg">배경</p>
                    <p class="text">
                        <span class="tit">테마있는여행</span><br>
                        료칸，테마파크 등<br>원하는 테마를 골라가는 여행
                    </p>
                </a>
            </li> <!--.theme-->
            <li class="checklist">
                <a href="/Checklists">
                    <p class="bg">배경</p>
                    <p class="text">
                        <span class="tit">여행전 체크리스트</span><br>
                        포켓와이파이, 보험, 렌트카 등<br>미리미리 준비하자!
                    </p>
                </a>
            </li> <!--.checklist-->
        </ul> <!--.upper-->
        <ul class="under">
            <li class="qna">
                <a href="/Community/Lists?type=qna">
                    <p class="bg">배경</p>
                    <p class="tit">질문과 답변</p>
                </a>
            </li> <!--.qna-->
            <li class="custom">
                <a href="/Community/Lists?type=customer">
                    <p class="bg">배경</p>
                    <p class="tit">맞춤 여행견적 문의</p>
                </a>
            </li> <!--.custom-->
            <li class="magazine">
                <a href="/Magazine">
                    <p class="bg">배경</p>
                    <p class="tit">해외여행의 바이블<br />NTABI MAGAZINE</p>
                </a>
            </li> <!--.magazine-->
        </ul> <!--.under-->
    </div> <!--.menuEctIn-->
</section> <!--#menuEct-->
<section id="sns">
    <h3>#인스타그램</h3>
    <div id="instafeed">
    </div>
</section>

<script src="~/Scripts/instafeed.min.js"></script>

<script>
    $(document).ready(function () {
        var mainSlider = $('.bxslider').bxSlider({
            controls: false,
            auto: true,
            //autoHover: true,
            mode: "fade",
            speed: 2000,
            pagerCustom: $(".slideMenu"),
        });

        var userFeed = new Instafeed({
            get: 'user',
            userId: 3180536851,
            sortBy: "most-recent",
            limit: 7,
            template: '<a href="{{link}}" target="_blank"><img src="{{image}}" /></a>',
            accessToken: '3180536851.cd01c72.412123b28bd543b98b6256390fada5e0',
            //resolution: "low_resolution"
        });

        userFeed.run();
    });
</script>