@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="nvp">
    <div class="nvpbg" m</div> <!--.nvpbg-->
    <p class="tit">
        <img src="/Content/Images/variety/nvptitle.png">
    </p> <!--.tit-->
    <div class="button">
        <ul>
            <li class="GoToGOTO">
                <a href="/promotion/Views?f=GoToGOTO">
                    <p class="icon"><img src="~/Content/Images/variety/icon_GoToGOTO.png"></p>
                    <p class="text">
                        <span>[시즌기획]<br></span>
                        " 고토열도 백패킹 원정대! "
                    </p>
                </a>
            </li> <!--.GoToGOTO-->
            <li class="JMT">
                <a href="/Products/Views?C=NTBPT201817&K=20">
                    <p class="icon"><img src="~/Content/Images/variety/icon_JMT.png"></p>
                    <p class="text">
                        <span>[존맛탱 투어]<br></span>
                        " 부관훼리, 정말 맛있는 여행 2박3일 "
                    </p>
                </a>
            </li> <!--.JMT-->
            <li class="odentour">
                <a href="/Products/Views?C=NTBVP20181&K=20">
                    <p class="icon"><img src="~/Content/Images/variety/icon_odentour.png"></p>
                    <p class="text">
                        <span>[오뎅 투어]<br></span>
                        " 부관훼리, 도란도란 겨울 오뎅투어 "
                    </p>
                </a>
            </li> <!--.odentour-->
            @*<li class="comingsoon">
                    <a href="javascript:alert('오픈예정입니다.');">
                        <p class="icon"><img src="~/Content/Images/variety/icon_comingsoon2.png"></p>
                        <p class="text">
                            <span>[COMING SOON]<br></span>
                            " 지금은 상품 준비중입니다! "
                        </p>
                    </a>
                </li> <!--.commingsoon-->*@
        </ul>
    </div> <!--.button-->
    <p class="click">*클릭 시 선택한 상품페이지로 이동합니다.</p>
</section> <!--.nvp-->