@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    section.company {
        margin-top: 55px;
    }

        section.company > h3 {
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 18px;
            margin: 0;
        }

        section.company > span {
            width: 10%;
            margin-left: 45%;
            height: 3px;
            display: block;
            background-color: #a0ce54;
        }

        section.company div.LocPicture {
            margin: 10px -15px;
        }

            section.company div.LocPicture img {
                width: 100%;
            }

        section.company article p {
            font-size: 14px;
            line-height: 26px;
            margin-top: 20px;
        }

        section.company article span {
            font-size: 24px;
            line-height: 30px;
            color: #a0ce54;
            font-weight: bold;
        }
</style>


<section class="company">

    <h3>ABOUT</h3>
    <span></span>

    <div class="LocPicture">
        <img src="~/Content/Images/company/companyvis.jpg">
    </div>

    <article class="aboutTxt">
        <p>
            <span>Ndaytrip</span> 은?<br />
            Ndaytrip은 일본 현지투어 전문여행사입니다.<br />
            Ndaytrip의 머릿자 "N"은 Nihon(日本)을 의미하며, daytrip은 현지투어의 의미를 지니고 있습니다.<br />
            또한 "Nday"는 anyday(어떤날·어느날)의 의미로 해석되기도 합니다.<br />
            Ndaytrip은 관광객들을 위한 서비스를 위하여 많은 노력과 정성을 기울이고 있으며, 고객의 한분 한분의 소중한 추억을 만들어드리고자 노력하고 있습니다.
        </p>
    </article>

</section>