
/*메뉴이미지*/
div#wrap section.pdimages{
position:relative;
height:160px;
margin: 0 -15px;
background-position:center;
background-repeat:no-repeat;
}
div#wrap section.pdimages div{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}
div#wrap section.pdimages div ul{}
div#wrap section.pdimages div ul li{
position:absolute;
top:0;
width:100%;
height:100%;
background-size:100% auto;
text-indent:-9999px;
}
div#wrap section.pdimages div ul li.tokyobest{background-image:url("/Content/Images/products/img_tokyobest.jpg");}
div#wrap section.pdimages div ul li.tokyopackage{background-image:url("/Content/Images/products/img_tokyopackage.jpg");}
div#wrap section.pdimages div ul li.tokyofree{background-image:url("/Content/Images/products/img_tokyofree.jpg");}
div#wrap section.pdimages div ul li.tokyodaytour{background-image:url("/Content/Images/products/img_tokyotour.jpg");}

div#wrap section.pdimages div ul li.osakabest{background-image:url("/Content/Images/products/img_osakabest.jpg");}
div#wrap section.pdimages div ul li.osakapackage{background-image:url("/Content/Images/products/img_osakapackage.jpg");}
div#wrap section.pdimages div ul li.osakafreeair{background-image:url("/Content/Images/products/img_osakaair.jpg");}
div#wrap section.pdimages div ul li.osakafreeship{background-image:url("/Content/Images/products/img_osakaship.jpg");}
div#wrap section.pdimages div ul li.osakadaytour{background-image:url("/Content/Images/products/img_osakadaytour.jpg");}

div#wrap section.pdimages div ul li.kyushubest{background-image:url("/Content/Images/products/img_kyushubest.jpg");}
div#wrap section.pdimages div ul li.kyushupackage{background-image:url("/Content/Images/products/img_kyushupackage.jpg");}
div#wrap section.pdimages div ul li.kyushufreeair{background-image:url("/Content/Images/products/img_kyushuair.jpg");}
div#wrap section.pdimages div ul li.kyushufreeship{background-image:url("/Content/Images/products/img_kyushuship.jpg");}
div#wrap section.pdimages div ul li.kyushudaytour{background-image:url("/Content/Images/products/img_kyushudaytour.jpg");}

div#wrap section.pdimages div ul li.okinawabest{background-image:url("//Content/Images/products/img_okinawabest.jpg");}
div#wrap section.pdimages div ul li.okinawapackage{background-image:url("/Content/Images/products/img_okinawapackage.jpg");}
div#wrap section.pdimages div ul li.okinawafree{background-image:url("/Content/Images/products/img_okinawafree.jpg");}
div#wrap section.pdimages div ul li.okinawadaytour{background-image:url("/Content/Images/products/img_okinawadaytour.jpg");}

div#wrap section.pdimages div ul li.hokkaidobest{background-image:url("/Content/Images/products/img_hokkaidobest.jpg");}
div#wrap section.pdimages div ul li.hokkaidopackage{background-image:url("/Content/Images/products/img_hokkaidopackage.jpg");}
div#wrap section.pdimages div ul li.hokkaidofree{background-image:url("/Content/Images/products/img_hokkaidofree.jpg");}
div#wrap section.pdimages div ul li.hokkaidodaytour{background-image:url("/Content/Images/products/img_hokkaidodaytour.jpg");}

div#wrap section.pdimages div ul li.tsushimabest{background-image:url("/Content/Images/products/img_tsushimabest.jpg");}
div#wrap section.pdimages div ul li.tsushimapackage{background-image:url("/Content/Images/products/img_tsushimapackage.jpg");}
div#wrap section.pdimages div ul li.tsushimafree{background-image:url("/Content/Images/products/img_tsushimafree.jpg");}
div#wrap section.pdimages div ul li.tsushimadaytour{background-image:url("/Content/Images/products/img_tsushimadaytour.jpg");}

div#wrap section.pdimages div ul li.japanbest{background-image:url("/Content/Images/products/img_japanbest.jpg");}
div#wrap section.pdimages div ul li.japanpackage{background-image:url("/Content/Images/products/img_japanpackage.jpg");}
div#wrap section.pdimages div ul li.japanfree{background-image:url("/Content/Images/products/img_japanfree.jpg");}
div#wrap section.pdimages div ul li.japandaytour{background-image:url("/Content/Images/products/img_japandaytour.jpg");}

div#wrap section.pdimages div ul li.hongkongbest{background-image:url("/Content/Images/products/img_hongkongbest.jpg");}
div#wrap section.pdimages div ul li.hongkongpackage{background-image:url("/Content/Images/products/img_hongkongpackage.jpg");}
div#wrap section.pdimages div ul li.hongkongfree{background-image:url("/Content/Images/products/img_hongkongfree.jpg");}
div#wrap section.pdimages div ul li.hongkongdaytour{background-image:url("/Content/Images/products/img_hongkongdaytour.jpg");}

div#wrap section.pdimages div ul li.taiwanbest{background-image:url("/Content/Images/products/img_taiwanbest.jpg");}
div#wrap section.pdimages div ul li.taiwanpackage{background-image:url("/Content/Images/products/img_taiwanpackage.jpg");}
div#wrap section.pdimages div ul li.taiwanfree{background-image:url("/Content/Images/products/img_taiwanfree.jpg");}
div#wrap section.pdimages div ul li.taiwandaytour{background-image:url("/Content/Images/products/img_taiwandaytour.jpg");}

div#wrap section.pdimages div ul li.vietnambest{background-image:url("/Content/Images/products/img_vietnambest.jpg");}
div#wrap section.pdimages div ul li.vietnampackage{background-image:url("/Content/Images/products/img_vietnampackage.jpg");}
div#wrap section.pdimages div ul li.vietnamfree{background-image:url("/Content/Images/products/img_vietnamfree.jpg");}
div#wrap section.pdimages div ul li.vietnamdaytour{background-image:url("/Content/Images/products/img_vietnamdaytour.jpg");}

div#wrap section.pdimages div ul li.philippinebest{background-image:url("/Content/Images/products/img_philippinebest.jpg");}
div#wrap section.pdimages div ul li.philippinepackage{background-image:url("/Content/Images/products/img_philippinepackage.jpg");}
div#wrap section.pdimages div ul li.philippinefree{background-image:url("/Content/Images/products/img_philippinefree.jpg");}
div#wrap section.pdimages div ul li.philippinedaytour{background-image:url("/Content/Images/products/img_philippinedaytour.jpg");}

div#wrap section.pdimages div ul li.americabest{background-image:url("/Content/Images/products/img_americabest.jpg");}
div#wrap section.pdimages div ul li.americapackage{background-image:url("/Content/Images/products/img_americapackage.jpg");}
div#wrap section.pdimages div ul li.americafree{background-image:url("/Content/Images/products/img_americafree.jpg");}
div#wrap section.pdimages div ul li.americadaytour{background-image:url("/Content/Images/products/img_americadaytour.jpg");}

div#wrap section.pdimages div ul li.guambest{background-image:url("/Content/Images/products/img_guambest.jpg");}
div#wrap section.pdimages div ul li.guampackage{background-image:url("/Content/Images/products/img_guampackage.jpg");}
div#wrap section.pdimages div ul li.guamfree{background-image:url("/Content/Images/products/img_guamfree.jpg");}
div#wrap section.pdimages div ul li.guamdaytour{background-image:url("/Content/Images/products/img_guamdaytour.jpg");}

div#wrap section.pdimages div ul li.russiabest{background-image:url("/Content/Images/products/img_russiabest.jpg");}
div#wrap section.pdimages div ul li.russiapackage{background-image:url("/Content/Images/products/img_russiapackage.jpg");}
div#wrap section.pdimages div ul li.russiafree{background-image:url("/Content/Images/products/img_russiafree.jpg");}
div#wrap section.pdimages div ul li.russiadaytour{background-image:url("/Content/Images/products/img_russiadaytour.jpg");}

/*메뉴셀렉트*/
div#wrap div.selectbox{
width: 100%;
margin-top: 10px;
text-align: center;
}
div#wrap div.selectbox:after{content: ""; display: block; clear: both;}
div#wrap div.selectbox div.select01{
height: 30px;
background-color: white;
}
div#wrap div.selectbox div.select01 select#select_japan{
width: 75%;
height: 30px;
padding: 0 15px;
min-height: 30px;
line-height: 30px;
color: #a97228;
border: 1px solid #E9DDDD;
border-radius: 0px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
filter: alpha(opacity=0); /* IE 8 */
}
select::-ms-expand{display:none;}
div#wrap div.selectbox div.select01 select#select_japan option{}
div#wrap div.selectbox div.select02{
position: relative;
float: right;
width: 49%;
height: 30px;
}
div#wrap div.selectbox div.select02 select#select_pdlist{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 30px;
padding: 0 15px;
min-height: 30px;
line-height: 30px;
color: #a97228;
border: 1px solid #E9DDDD;
border-radius: 0px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
filter: alpha(opacity=0); /* IE 8 */
}
div#wrap div.selectbox div.select02 select#select_pdlist option{}


/*타입셀렉트*/
div#wrap section.selecttype{
height:25px;
margin-bottom: 10px;
text-align: center;
}
div#wrap section.selecttype > ul{
white-space:nowrap;
overflow: auto;
}
div#wrap section.selecttype > ul li{
display:inline-block;
margin:0 10px;
}
div#wrap section.selecttype > ul li a{
display:block;
}
div#wrap section.selecttype > ul li a h5{
font-size:16px;
line-height:25px;
color: #555;
}


/*베스트상품들*/
div#wrap section.bestpd{
margin-top:10px;
}
div#wrap section.bestpd > ul{}
div#wrap section.bestpd > ul > li{
width:100%;
height:120px;
padding:5px 0;
box-sizing:border-box;
border-bottom:1px solid #222;
}
div#wrap section.bestpd > ul > li:last-child{
border:0;
}
div#wrap section.bestpd > ul > li a{
display:block;
width:100%;
height:100%;
}
div#wrap section.bestpd > ul > li a ul.pdIn{
padding-top: 5px;
}
div#wrap section.bestpd > ul > li a ul.pdIn:after{content:""; display:block; clear:both;}
div#wrap section.bestpd > ul > li a ul.pdIn li{
height:100%;
}
div#wrap section.bestpd > ul > li a ul.pdIn li.img{
width:38%;
float:left;
}
div#wrap section.bestpd > ul > li a ul.pdIn li.img img{
width: 100%;
overflow: hidden;
}
div#wrap section.bestpd > ul > li a ul.pdIn li.text{
width:59%;
float:right;
}
div#wrap section.bestpd > ul > li a ul.pdIn li.text h3{
margin:0;
margin-bottom:10px;
font-size:16px;
letter-spacing: -0.5px;
}
div#wrap section.bestpd > ul > li a ul.pdIn li.text p.title{
font-size:15px;
overflow:hidden;
display:-webkit-box;
-webkit-line-clamp:2;
-webkit-box-orient:vertical;
}
div#wrap section.bestpd > ul > li a ul.pdIn li.text p.price{
font-size:19px;
}


/*패키지,자유등 클릭했을때!*/
div#wrap section.product{}
div#wrap section.product ul{
margin-top:5px;
}
div#wrap section.product div.pdtCat {
    width: 100%;
    height: 28px;
	padding: 0 10px;
	margin-top: 20px;
	text-align: center;
	line-height: 28px;
	font-size: 17px !important;

	font-weight: bold;
	letter-spacing: 2px;
}

div#wrap section.product div.pdtCat.air {
    background-color: #f1f8ff;
    font-size: 18px;
}

div#wrap section.product div.pdtCat.ship {
    background-color: #fffaf1;
    color: #423c33;
}

div#wrap section.product ul li{
position: relative;
width:100%;
height:118px;
margin:5px 0;
border:1px solid #111;
overflow: hidden;
}
div#wrap section.product ul li a{
display:block;
width:100%;
height:100%;
}
div#wrap section.product ul li a p{
float: left;
width: 48%;
height: 100%;
}
div#wrap section.product ul li a p img{
width: 100%;
}
div#wrap section.product ul li a p.bestbox{
position:absolute;
width: auto;
height: auto;
padding:2px 5px;
margin:1px;
font-size:11px;
letter-spacing:-1px;
background-color: rgba(255,255,255,.8);
}
div#wrap section.product ul li a div.text{
float:right;
width:49%;
height:100%;
padding:10px 10px 2px 0;
box-sizing:border-box;
}
div#wrap section.product ul li a div.text p{
width: 100%;
height: auto;
}
div#wrap section.product ul li a div.text p.pdtit{
height:33%;
font-size:15px;
line-height: 1.2em;
overflow:hidden;
display:-webkit-box;
-webkit-line-clamp:2;
-webkit-box-orient: vertical;
}
div#wrap section.product > ul > li a div.text p.time{
letter-spacing:-0.5px;
font-size:13px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
margin-top: 5px;
}
div#wrap section.product > ul > li a div.text div.box{
position: absolute;
bottom: 2px;
left: 2px;
font-size:11px;
letter-spacing:-0.8px;
color:white;
}
div#wrap section.product > ul > li a div.text div.box:after{content:""; display:block; clear:both;}
div#wrap section.product > ul > li a div.text div.box p{
float:left;
width: inherit;
padding:1px 3px;
margin-right:3px;
background-color:#22be4e;
}
div#wrap section.product > ul > li a div.text div.box p.code{
}
div#wrap section.product > ul > li a div.text div.box > p.start{
background-color:#1f26b6;
}
div#wrap section.product > ul > li a div.text p.price{
margin-top: 8px;
text-align: right;
font-size:20px;
color:#f70000;
}




div#wrap div.mobilepd{
margin-bottom: 30px;
}
div#wrap div.mobilepd h2{
width:100%;
margin:20px 0 10px 0;
padding:0 5px;
font-size:18px;
line-height:1.2em;
box-sizing:border-box;
}
div#wrap div.mobilepd div.images{
margin: 0 -15px;
overflow:hidden;
}
div#wrap div.mobilepd div.images ul{
}

div#wrap div.mobilepd div.images ul li img{
width:100%;
}

/*탭콘텐츠_체크리스트*/
div#wrap div.mobilepd div.pdinfo{
margin:20px 0;
}
div#wrap div.mobilepd div.pdinfo > ul{}
div#wrap div.mobilepd div.pdinfo > ul > li{
width:100%;
height:100%;
padding:7px 0;
margin-bottom:10px;
background-color:#f3f3f3;
}
div#wrap div.mobilepd div.pdinfo > ul > li:after{content:""; display:block; clear:both;}
div#wrap div.mobilepd div.pdinfo > ul > li h4{
float:left;
width:25%;
margin:0;
padding-top: 3px;
text-align:center;
font-size:15px;
letter-spacing:-0.5px;
}
div#wrap div.mobilepd div.pdinfo > ul > li > p{
float:left;
width:75%;
padding:0 5px;
font-size:14px;
border-left:1px solid #fff;
box-sizing:border-box;
}
div#wrap div.mobilepd div.pdinfo > ul > li > p.tourPlan{
margin-top: 5px;
margin-left: 25%;
}
div#wrap div.mobilepd div.pddetail{
width:100%;
}
div#wrap div.mobilepd div.pddetail h6{
font-size: 16px;
}
div#wrap div.mobilepd div.pddetail img {
width: 100% !important;
height: auto !important;
}
div#wrap div.mobilepd div.pddetail ul.menu{}
div#wrap div.mobilepd div.pddetail ul.menu:after{content:""; display:block; clear:both;}
div#wrap div.mobilepd div.pddetail ul.menu > li{
width:33.33%;
float:left;
padding:3px 0 3px 2px;
background-color:#f1f1f1;
border-right:1px solid #fff;
box-sizing:border-box;
}
div#wrap div.mobilepd div.pddetail ul.menu > li:last-child{
border:0;
}
div#wrap div.mobilepd div.pddetail ul.menu > li a{
display:block;
font-size:13px;
letter-spacing: -0.5px;
text-align:center;
}
div#wrap div.mobilepd div.pddetail ul.detail{
width:100%;
height:200px;
padding:15px 10px;
box-sizing:border-box;
}

section.pdtDetail div.tab-content *
{
font-size: 14px !important;
line-height: 22px !important;
font-family: 'Nanum Gothic', '나눔고딕', 'Nanum Gothic Web', '맑은 고딕', 'Malgun Gothic', Dotum !important;
}
section.pdtDetail div.tab-content span{
}

/*상품리뷰*/
div#wrap div.mobilepd div.pddetail li.review{
padding: 5px;
border-bottom: 1px solid #ddd;
}
div#wrap div.mobilepd div.pddetail li.review div.reviewview{}

div#wrap div.mobilepd div.pddetail li.review div.reviewview li.member{
margin-bottom: 2px;
}
div#wrap div.mobilepd div.pddetail li.review div.reviewview li.member:after{content: ""; display: block; clear: both;}
div#wrap div.mobilepd div.pddetail li.review div.reviewview li.member p{
float: left;
margin-right: 10px;
font-size: 13px !important;
line-height: 1em !important;
color: #777;
}
div#wrap div.mobilepd div.pddetail li.review div.reviewview li.member p.id{}
div#wrap div.mobilepd div.pddetail li.review div.reviewview li.member p.date{}
div#wrap div.mobilepd div.pddetail li.review div.reviewview li.content{}
div#wrap div.mobilepd div.pddetail li.review div.reviewview li.content div.text{
line-height: 1.2em !important;
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
div#wrap div.mobilepd div.pddetail li.review div.reviewview li.content p.moreview{
margin-top: 3px;
text-align: center;
line-height: 1.2em !important;
}
div#wrap div.mobilepd div.pddetail li.review div.reviewview li.content p.moreview a{
display: inline-block;
padding: 2px 20px;
font-size: 11px !important;
line-height: 1.2em !important;
letter-spacing: 1.5px;
color: #555;
border: 1px solid #ddd;
}

/*리뷰쓰기*/
div#wrap div.mobilepd div.pddetail li.noRv{
margin-top: 10px;
}
div#wrap div.mobilepd div.pddetail form.rvWriter{}
div#wrap div.mobilepd div.pddetail form.rvWriter div.write{
height: 80px;
margin-top: 10px;
}
div#wrap div.mobilepd div.pddetail form.rvWriter div.write textarea{
float: left;
width: 84%;
height: 100%;
padding: 5px 8px;
resize: none;
border-color: #ddd;
border-radius: 0;
box-shadow: none;
}
div#wrap div.mobilepd div.pddetail form.rvWriter div.write p.btn{
float: right;
width: 16%;
height: 100%;
padding: 0;
border: none;
box-sizing: border-box;
border: 1px solid #ddd;
border-radius: 0;
border-left: 0;
}
div#wrap div.mobilepd div.pddetail form.rvWriter div.write p.btn a{
display: block;
width: 100%;
height: 100%;
text-align: center;
font-size: 13px !important;
line-height: 80px !important;
letter-spacing: 1.5px;
}

/*예약하기창*/
div#wrap div.bookingbox{
position:fixed;
bottom:0;
left: 0;
right: 0;
width:100%;
height:50px;
text-align: center;
background-color:rgba(70,70,70,0.9);
z-index: 1030;
}
div#wrap div.bookingbox a.bookingbtn{
display:inline-block;
padding: 6px 60px;
margin-top: 8px;
text-align:center;
color:white;
font-weight:600;
letter-spacing:1.3px;
border-radius:8px;
background-color:#a0ce54;
}
div#wrap div.bookingbox a.goqna{
dispaly: block;
position: absolute;
top: 9px;
right: 5px;
width: 30px;
height: 30px;
font-size: 10px;
letter-spacing: -0.5px;
line-height: 32px;
color: white;
background-color: salmon;
border-radius: 50%;
}

/*예약하기 눌렀을때 옵션!*/
div#wrap div.bookingboxoption{
position:fixed;
top: 100%;
left: 0;
right: 0;
width:100%;
padding: 20px 10px;
background-color:#fff;
z-index: 1030;
}

/*셀렉박스*/
div#wrap div.bookingboxoption form.form-horizontal{}
div#wrap div.bookingboxoption form.form-horizontal p.date{
margin-bottom: 10px;
text-align: center;
}
div#wrap div.bookingboxoption form.form-horizontal p.date input#datepicker{
width: 60%;
height: 25px;
margin-left: 15px;
text-align: center;
line-height: 25px;
border: 2px solid #E9DDDD;
border-radius: 0;
-webkit-appearance: none;
}

div#wrap div.bookingboxoption form.form-horizontal div.traffic{
margin: 10px;
}
div#wrap div.bookingboxoption form.form-horizontal div.traffic p{
margin-bottom: 5px;
}
div#wrap div.bookingboxoption form.form-horizontal div.traffic p select{
height: auto;
padding: 2px 15px;
font-size: 13px;
border-radius: 0;
box-shadow: none;
}

div#wrap div.bookingboxoption form.form-horizontal div.hotel{
position: relative;
margin: 10px;
}
div#wrap div.bookingboxoption form.form-horizontal div.hotel p{
margin-bottom: 5px;
}
div#wrap div.bookingboxoption form.form-horizontal div.hotel p select{
width: 100%;
height: 30px;
padding: 0 15px;
min-height: 30px;
line-height: 30px;
color: #a97228;
border: 1px solid #E9DDDD;
border-radius: 0px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
filter: alpha(opacity=0); /* IE 8 */
}

div#wrap div.bookingboxoption:after{
display: block; clear: both; content: "";
}

/*인원수*/
div#wrap div.bookingboxoption div.people{
height:108px;
max-height:100%;
overflow: auto;
}
div#wrap div.bookingboxoption div.people p{
position: relative;
width: 100%;
height: 26px;
margin-bottom: 8px;
font-size: 14px;
}
div#wrap div.bookingboxoption div.people p span{
display: block;
margin-left: 200px;
font-size: 12px;
line-height: 26px;
color: #999;
}
div#wrap div.bookingboxoption form.form-horizontal div.people p select{
position: absolute;
top: 0;
left: 0;
width: 50%;
height: 26px;
padding: 0 15px;
min-height: 25px;
line-height: 26px;
color: #a97228;
border: 1px solid #E9DDDD;
border-radius: 0px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
filter: alpha(opacity=0); /* IE 8 */
}
div#wrap div.bookingboxoption form.form-horizontal div.people p select option{}

/*총금액*/
div#wrap div.bookingboxoption div.price{
text-align: center;
}
div#wrap div.bookingboxoption div.price p.allprice{
font-size: 20px;
font-weight: 600;
color: #ff3f0c;
}
div#wrap div.bookingboxoption div.price p.allprice span{
margin-left: 5px;
font-size: 15px;
font-weight: normal;
}

/*달력*/
div.ui-datepicker{
top: 20% !important;
left: 50% !important;
width: 266px;
height: 320px;
margin-left: -133px;
padding: 0;
background: none;
border: 2px solid #555;
border-radius: 0;
background-color: #f9f9f9;
box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
div.ui-datepicker div.ui-datepicker-header{
position: relative;
width: 100%;
height: 50px;
padding: 0;
background: none;
border: none;
}
div.ui-datepicker div.ui-datepicker-header a.ui-datepicker-prev{
top: 28px;
left: 5px;
width: 16px;
height: 16px;
}
div.ui-datepicker div.ui-datepicker-header a.ui-datepicker-prev span.ui-icon{
background-image: url("/Content/Images/products/views/btn_calendarL.png");
background-size: auto 100%;
background-position: center;
background-repeat: no-repeat;
}
div.ui-datepicker div.ui-datepicker-header a.ui-datepicker-next{
top: 28px;
right: 5px;
width: 16px;
height: 16px;
}
div.ui-datepicker div.ui-datepicker-header a.ui-datepicker-next span.ui-icon{
background-image: url("/Content/Images/products/views/btn_calendarR.png");
background-size: auto 100%;
background-position: center;
background-repeat: no-repeat;
}
div.ui-datepicker div.ui-datepicker-header div.ui-datepicker-title{
margin: 0;
line-height: 1.2em;
}
div.ui-datepicker div.ui-datepicker-header div.ui-datepicker-title span.ui-datepicker-year{
position: relative;
display: block;
width: 100%;
margin-top: 5px;
padding: 0 5px;
text-align: left;
font-size: 14px;
letter-spacing: -0.5px;
}
div.ui-datepicker div.ui-datepicker-header div.ui-datepicker-title span.ui-datepicker-year:after{
content: "";
display: block;
position: absolute;
top: 9px;
right: 10px;
width: 75%;
height: 1px;
background-color: #aaa;
}
div.ui-datepicker div.ui-datepicker-header div.ui-datepicker-title span.ui-datepicker-month{
display: block;
width: 100%;
margin-top: -14px;
font-size: 18px;
font-weight: normal;
}

div.ui-datepicker table.ui-datepicker-calendar{}
div.ui-datepicker table.ui-datepicker-calendar thead{}
div.ui-datepicker table.ui-datepicker-calendar thead tr{}
div.ui-datepicker table.ui-datepicker-calendar thead tr th.ui-datepicker-week-end{}
div.ui-datepicker table.ui-datepicker-calendar thead tr th span{
font-size: 13px;
font-weight: normal;
letter-spacing: -0.5px;
}
div.ui-datepicker table.ui-datepicker-calendar thead tr th.ui-datepicker-week-end:first-child span{
color: red;
}
div.ui-datepicker table.ui-datepicker-calendar thead tr th.ui-datepicker-week-end:last-child span{
color: blue;
}

div.ui-datepicker table.ui-datepicker-calendar tbody{}
div.ui-datepicker table.ui-datepicker-calendar tbody tr{}
div.ui-datepicker table.ui-datepicker-calendar tbody tr td{
width: 38px;
height: 38px;
padding: 0;
}
div.ui-datepicker table.ui-datepicker-calendar tbody tr td span{
height: 100%;
padding: 0;
font-size: 12px;
text-align: center;
line-height: 38px;
border: 0;
background: none;
}
div.ui-datepicker table.ui-datepicker-calendar tbody tr td a{
height: 100%;
padding: 0;
font-size: 12px;
text-align: center;
line-height: 38px;
border: 0;
background: none;
}
.ui-datepicker-calendar td.addClass.st_grn a {
background-color: #3bd82f;
}
.ui-datepicker-calendar td.addClass.st_red a {
background-color: #e62727 !important;
color: white;
}
.ui-datepicker-calendar td.addClass.st_gry a {
background-color: #edb01c !important;
color: white;
}
.ui-datepicker-calendar td.addClass.st_blu a {
background-color: #999 !important;
color: white;
}


ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: #2a2a2a;
}
div.pdlistMenu{
    min-width:320px;
    max-width:768px;
    text-align: center;
}
div.pdlistMenu > ul{}
div.pdlistMenu > ul > li{
    display: inline-block;
    width: 20%;
    height: 30px;
    margin: 6px 5px;
    border: 1px solid #ddd;
    border-radius: 15px;
}
div.pdlistMenu > ul > li.on{
    background-color: lightblue;
}
div.pdlistMenu > ul > li a{
    display: block;
    line-height: 30px;
    font-size: 14px;
}
div.pdlistMenu > ul > li.on a{
    font-size: 16px;
    font-weight: bold;
}
    
div.pdlistMenu ul.ship{}
div.pdlistMenu ul.ship li{
    width: 24%;
}