@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    div#container > article > section.advertisement
    {
        padding-top: 20px;
    }
    
    section.magazineLists > h3
    {
        font-size: 18px;
        color: #2a2a2a;
    }

</style>

<section class="advertisement">
    <h3>광고 제휴 문의</h3>

    <table>
        <tbody>
            <tr>
                <th>구분</th>
                <td><input type="text" na/></td>
                <th>글쓴이</th>
                <td></td>
            </tr>
            <tr>
                <th>회사명</th>
                <td></td>
                <th>홈페이지</th>
                <td></td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td></td>
                <th>회사대표메일</th>
                <td></td>
            </tr>
        </tbody>
    </table>
</section>