@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="find3">
    <section class="findnotice">
        <p class="notice">
            고객님의 E-mail로 비밀번호 재설정 인증 안내문이 발송되었습니다.
        </p>
        <div class="btn">
            <p class="login"><a href="#" onclick="$('a.loginBtn').click();">로그인</a></p>
            <p class="main"><a href="/">메인으로</a></p>
        </div> <!--.btn-->
    </section> <!--.findnotice-->
</div>
