@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="resetnotice">
    <h3>비밀번호 재설정</h3>
    <p class="notice">
        새로 사용할 비밀번호를 입력해주세요
    </p>
    <div class="reset">
        <p class="id"><input type="text" placeholder="아이디"></p>
        <p class="password"><input type="password" placeholder="비밀번호(6~20자 이내/영문+숫자 조합)"></p>
        <p class="password2"><input type="password" placeholder="비밀번호 확인"></p>
    </div> <!--.reset-->
    <div class="btn">
        <p class="reset"><a href="#">비밀번호 변경</a></p>
        <p class="main"><a href="/">메인으로</a></p>
    </div> <!--.btn-->
</section> <!--.resetnotice-->