@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="join3">
    <h3>가입완료</h3>
    <div class="welcome">
        <p class="member">"@ViewBag.ID" 님</p>
        <p class="family">Ntabi의 가족이 되신걸 환영합니다.^^</p>
    </div> <!--.welcome-->
    <div class="btn">
        <ul>
            <li class="login"><a href="#" class="loginBtn">로그인</a></li>
            <li class="back"><a href="/">메인으로</a></li>
        </ul>
    </div> <!--.btn-->
</section>