@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string key = Request["passkey"];
}

<style>
    section.content {
        padding: 52px 0;
        margin: 0 -15px;
    }

    section > article.getID {
        padding: 20px;
    }

        section > article.getID > input,
        section > article.getID > button,
        section > article.getID > a {
            width: 100%;
            height: 45px;
            padding: 5px 10px;
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 45px;
            border: 1px solid #ddd;
        }

            section > article.getID > button.getIDBtn {
                position: fixed;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 10px 0 0;
                color: white;
                background: #a0ce54;
                border: #a0ce54;
                font-weight: bold;
                padding: 0;
                max-width: 450px;
                margin: 0 auto;
            }

        section > article.getID > a {
            margin: 10px 0 0;
            display: block;
            text-align: center;
            color: black;
            border: 2px solid #a0ce54;
            font-weight: bold;
            padding: 0;
        }

        section > article.getID > div {
            margin: 10px 0;
            overflow: hidden;
        }

            section > article.getID > div > label {
                margin: 0;
                color: #777;
            }

                section > article.getID > div > label > input {
                    margin: 0;
                    margin-right: 5px;
                }

                section > article.getID > div > label > a,
                section > article.getID > div > label > span {
                    color: #777;
                }

                section > article.getID > div > label > span {
                    margin: 0 10px;
                }
</style>


<section class="content">
    <article class="getID">
        <input type="text" name="id" placeholder="아이디" />
        <input type="password" name="pwd" placeholder="비밀번호" />
        <input type="password" name="chkPwd" placeholder="비밀번호 확인" />

        <button class="getIDBtn">비밀번호 변경</button>
    </article>
</section>

<script>
    $(document).ready(function () {
        $("article.getID button.getIDBtn").on("click", function (e) {
            e.stopPropagation();
            e.preventDefault();

            var id = $("input[name='id']");
            var pwd = $("input[name='pwd']");
            var chkPwd = $("input[name='chkPwd']");
            var regPwd = /^(?=.*[A-Za-z0-9])((?=.*\d)|(?=.*\W)).{6,20}$/;

            if (id.val() == "") {
                alert("아이디를 입력해주세요.");
                id.focus();
                return;
            }

            if (pwd.val() == "") {
                alert("이름을 입력해주세요.");
                pwd.focus();
                return;
            }

            if (!regPwd.test(pwd.val())) {
                alert("비밀번호는 영문 + 숫자로 6~20자 이내로 입력해주세요.");
                pwd.focus();
                return;
            }

            if (chkPwd.val() != pwd.val()) {
                alert("비밀 번호가 서로 다릅니다.");
                chkPwd.focus();
                return;
            }

            var url = "/Home/changePW";
            var data = { id: id.val(), pwd: pwd.val(), key: "@key" };

            $.ajax({
                type: "POST",
                url: url,
                data: data,
                success: function (rData) {
                    alert(rData);

                    if (rData.indexOf("비밀 번호가 정상적으로 변경 되었습니다.") > -1) {
                        location.href = "/";
                    }
                }
                , beforeSend: function () {
                    $('#loading').show();
                }
                , complete: function () {
                    $('#loading').hide();
                }
            });
        });
    });
</script>