<div class="layerPop">
    <div class="layer-container">
        <div class="layer-conts">
            <a href="/Products/Views?C=NTBFT231821&K=23">
                <img src="~/Content/images/popup/popup_180913.png" style="width: 100%;" />
            </a>
        </div>
        <div class="layer-foot">
            <input type="checkbox" value="today" name="today" id="today">
            <label for="today">
                오늘 하루 창 닫음
            </label>
            <a href="javascript:;" class="layer-close">
                [닫기]
            </a>
        </div>
    </div>
</div>
<style>
    .layerPop {
        position: absolute;
        display: none;
        left: 5%;
        width: 85%;
        top: 18%;
        z-index: 999;
    }

    .layer-conts li {
        width: 400px !important;
    }

    .layer-foot {
        width: 100%;
        height: 25px;
        line-height: 25px;
        background: black;
        color: white;
        padding: 0 10px;
        font-size: 12px;
    }

        .layer-foot input {
            float: left;
            width: 13px;
            height: 13px;
            margin-right: 5px;
            margin-top: 6px;
            vertical-align: text-bottom;
        }

        .layer-foot label {
            font-size: 12px;
            font-weight: normal;
            letter-spacing: -0.5px;
        }

        .layer-foot a.layer-close {
            float: right;
            display: block;
            color: white;
        }
</style>

@*<div class="layerPop">
        <div class="layer-container">
            <div class="layer-conts">
                <img src="~/Content/images/popup/popup_181008.jpg" style="width: 100%;" />
            </div>
            <div class="layer-foot">
                <input type="checkbox" value="today" name="today" id="today">
                <label for="today">
                    오늘 하루 창 닫음
                </label>
                <a href="javascript:;" class="layer-close">
                    닫기 Ｘ
                </a>
            </div>
        </div>
    </div>
    <style>
    .layerPop {
        position: absolute;
        display: none;
        top: 18%;
        right: 5%;
        left: 5%;
        width: 90%;
        z-index: 999;
    }
    .layer-foot {
        width: 100%;
        height: 25px;
        line-height: 25px;
        background-color: #2a2a2a;
        color: white;
        padding: 0 10px;
        font-size: 12px;
    }
    .layer-foot input {
        float: left;
        margin-right: 5px;
        margin-top: 7px;
        vertical-align: text-bottom;
    }
    .layer-foot label {
        margin: 0;
        font-weight: normal;
        letter-spacing: 0.5px;
    }
    .layer-foot a.layer-close {
        float: right;
        width: 40px;
        color: white;
    }
    </style>*@

<section class="mainslider">
    <ul>
        <li class="no1">
            <a href="/promotion/Views?f=minamishimabara">
                <img src="/Content/Images/newSample/mainSlider_minamishimabara.jpg" alt="여행지원 프로젝트">
            </a>
        </li> <!--.no1-->
        <li class="no2">
            <a href="/promotion/Views?f=okinawapension">
                <img src="/Content/Images/newSample/mainSlider_okinawapension.jpg" alt="오키나와 풀빌라·펜션">
            </a>
        </li> <!--.no2-->
        <li class="no3">
            <a href="/Products/Views?C=NTBVP3182&K=3">
                <img src="/Content/Images/Home/mainslider/mainSlider_m_kokonoeyamanamiolle.jpg" alt="고코노에·야마나미 올레">
            </a>
        </li> <!--.no3-->
        <li class="no4">
            <a href="/Products/Views?C=NTBFT6183&K=6">
                <img src="/Content/Images/newSample/mainSlider_okuhidaonsen.jpg" alt="오쿠히다 온천">
            </a>
        </li> <!--.no4-->
        <li class="no5">
            <a href="/promotion/Views?f=osakacycling">
                <img src="/Content/Images/newSample/mainSlider_osakacycling.jpg" alt="오사카 사이클링">
            </a>
        </li> <!--.no5-->
    </ul>
</section> <!--.mainslider-->
<section class="nvp">
    <ul>
        <li class="nvp01">
            <a href="/promotion/Views?f=GoToGOTO">
                <p class="image"><img src="/Content/Images/home/variety/nvp_GoToGOTO.jpg"></p>
                <div class="text">
                    <h3>
                        <span class="small">엔타비가 만드는 여행 시리즈</span><br>
                        고토열도 원정대
                    </h3>
                    <p class="icon">아이콘</p>
                    <p class="nvpline">라인</p>
                </div> <!--.text-->
            </a>
        </li> <!--.nvp01-->
        <li class="nvp02">
            <a href="/promotion/Views?f=autumnromancekyushu">
                <p class="image"><img src="/Content/Images/newSample/img_nvp_autumnromancekyushu.jpg"></p>
                <div class="text">
                    <h3>
                        <span class="small">엔타비가 만드는 여행 시리즈</span><br>
                        낭만규슈 여행
                    </h3>
                    <p class="icon">아이콘</p>
                    <p class="nvpline">라인</p>
                </div> <!--.text-->
            </a>
        </li> <!--.nvp02-->
        <li class="nvp03">
            <a href="/Products/Views?C=NTBVP20181&K=20">
                <p class="image"><img src="/Content/Images/home/variety/img_odentour.jpg"></p>
                <div class="text">
                    <h3>
                        <span class="small">엔타비가 만드는 여행 시리즈</span><br>
                        오뎅 투어
                    </h3>
                    <p class="icon">아이콘</p>
                    <p class="nvpline">라인</p>
                </div> <!--.text-->
            </a>
        </li> <!--.nvp03-->
    </ul>
</section> <!--.nvp-->
<section class="best">
    <h3>베스트</h3>
    <ul>
        <li>
            <a href="/Products/Views?C=NTBFT20189&K=20">
                <img src="/Content/Images/home/best/img_best01_180918.jpg">
                <p class="tit">[비틀]２박３일<br>왕복승선권</p>
            </a>
        </li><!--li01-->
        <li>
            <a href="/Products/Views?C=NTBPT201812&K=20">
                <img src="/Content/Images/newSample/img_best02_180912.jpg">
                <p class="tit">히타카츠 당일치기<br>힐링패키지</p>
            </a>
        </li><!--li02-->
        <li>
            <a href="/Products/Views?C=NTBFT2183&K=2">
                <img src="/Content/Images/newSample/img_best03_180912.jpg">
                <p class="tit">부관훼리 승선권<br>추석연휴 좌석확보</p>
            </a>
        </li><!--li03-->
        <li>
            <a href="/Products/Views?C=NTBFT21181&K=21">
                <img src="/Content/Images/newSample/img_best04_180912.jpg">
                <p class="tit">카멜리아 승선권<br>날짜한정 특가!</p>
            </a>
        </li><!--li04-->
        <li>
            <a href="/Products/Views?C=NTBFT21186&K=21">
                <img src="/Content/Images/newSample/img_best05_180912.jpg">
                <p class="tit">팬스타크루즈 여행<br>５박６일</p>
            </a>
        </li><!--li05-->
        <li>
            <a href="/Products/Views?C=NTBFT61811&K=6">
                <img src="/Content/Images/newSample/img_best06.jpg">
                <p class="tit">북해도 항공권 ３일</p>
            </a>
        </li><!--li06-->
        <li>
            <a href="/Products/Views?C=NTBPT3185&K=3">
                <img src="/Content/Images/home/best/img_best07_181008.jpg">
                <p class="tit">야마구치-후쿠오카<br>２박３일 패키지</p>
            </a>
        </li><!--li07-->
        <li>
            <a href="/Products/Views?C=NTBFT61816&K=6">
                <img src="/Content/Images/newSample/img_best08_180912.jpg">
                <p class="tit">오키나와 실속세트<br>항공권+버스투어</p>
            </a>
        </li><!--li08-->
        <li>
            <a href="/Products/Views?C=NTBPT3184&K=3">
                <img src="/Content/Images/newSample/img_best09_180912.jpg">
                <p class="tit">북규슈 온천/호텔<br>２박３일</p>
            </a>
        </li><!--li09-->
        <li>
            <a href="/Products/Views?C=NTBFT23183&K=23">
                <img src="/Content/Images/newSample/img_best10_180912.jpg">
                <p class="tit">새로운 맛과 멋의<br>기타규슈</p>
            </a>
        </li><!--li10-->
    </ul>
</section> <!--.best-->
<section class="signature">
    <h3>시그니처</h3>
    <ul>
        <li>
            <a href="/promotion/Views?f=ferrytwo">
                <img src="/Content/Images/newSample/img_signature01.jpg">
                <p class="tit">
                    부산출발<br>선박 ２대장
                </p>
            </a>
        </li><!--li01-->
        <li>
            <a href="/promotion/Views?f=kyushuolle">
                <img src="/Content/Images/newSample/img_signature02.jpg">
                <p class="tit">
                    규슈올레<br>트레킹 패키지
                </p>
            </a>
        </li><!--li02-->
        <li>
            <a href="/promotion/Views?f=tvshimonoseki">
                <img src="/Content/Images/newSample/img_signature03.jpg">
                <p class="tit">
                    티비나온 바로거기!<br>시모노세키 특집
                </p>
            </a>
        </li><!--li03-->
        <li>
            <a href="/Products/Views?C=NTBFT21186&K=21">
                <img src="/Content/Images/newSample/img_signature04_180910.jpg">
                <p class="tit">
                    오사카 승선권<br>팬스타 크루즈
                </p>
            </a>
        </li><!--li04-->
        <li>
            <a href="/Products/Views?C=NTBFT221813&K=22">
                <img src="/Content/Images/newSample/img_signature05.jpg">
                <p class="tit">
                    오사카 ３대호텔<br>특전 이벤트!
                </p>
            </a>
        </li><!--li05-->
        <li>
            <a href="/Products/Views?C=NTBPT20186&K=20">
                <img src="/Content/Images/newSample/img_signature06.jpg">
                <p class="tit">
                    대마도 １박２일<br>비비큐+온천 패키지
                </p>
            </a>
        </li><!--li06-->
    </ul>

    <script>
        $(document).ready(function () {
            var mainSlider = $('.mainslider > ul').bxSlider({
                controls: false,
                auto: true,
                speed: 2000,
                pager: true,
            });

            var date = new Date();

            if ($.cookie("div .layerpop") != (date.getMonth() + 1) + "-" + date.getDate()) {
                $(".layerPop").show(0);
            }

            $("div .layerPop a.layer-close").on("click", function () {
                if ($(this).siblings("#today").is(":checked")) {
                    setCookie();
                }

                $("div .layerPop").fadeOut();
            });

            function setCookie() {
                var today = new Date();

                $.cookie("div .layerpop", (today.getMonth() + 1) + "-" + today.getDate(), { expires: 1 });
            }
        });
    </script>
