<div class="main_vis">
    <img src="~/Content/images/mainndaytrip_0911.jpg">

    <p>
        <img src="~/Content/images/maintitle0911.png">
    </p>
</div>

<div class="box box1" id="localtour">

    <h3>현지투어<span>LOCAL TOUR</span></h3>

    <ul class="menu_tour">
        <li><a href="/Products/Lists?loc=HOKKAIDO"><img src="/Content/images/localtour_hokkaido0911.jpg"><span>북해도<p>HOKKAIDO</p></span></a></li>
        <li><a href="/Products/Lists?loc=OSAKA"><img src="/Content/images/localtour_osaka0911.jpg"><span>오사카<p>OSAKA</p></span></a></li>
        <li><a href="/Products/Lists?loc=OKINAWA"><img src="/Content/images/localtour_okinawa0911.jpg"><span>오키나와<p>OKINAWA</p></span></a></li>
        @*<li><a href="/Products/Lists?loc=NAGOYA"><img src="/Content/images/nagoya.jpg"><span>나고야<p>NAGOYA</p></span></a></li>*@
        <li><a href="/Products/Lists?loc=TOKYO"><img src="/Content/images/localtour_tokyo0912.jpg"><span>동경<p>TOKYO</p></span></a></li>
        <li><a href="/Products/Lists?loc=FUKUOKA"><img src="/Content/images/localtour_kyushu0912.jpg"><span>큐슈<p>FUKUOKA</p></span></a></li>
        <li><a href="/Products/Lists?loc=TSUSHIMA"><img src="/Content/images/localtour_tsushima0911.jpg"><span>대마도<p>TSUSHIMA</p></span></a></li>
    </ul>

</div>


<div class="box box2" id="bestproduct">

    <h3>베스트 상품<span>BEST PRODUCT</span></h3>

    <ul>
        <li><a href="/Products/Views?code=NTBLT41813&key=4"><img src="~/Content/images/bestproduct_1_0911.png"><br /><br />비에이/후라노 투어<br />59,000원 ~</a></li>
        <li><a href="/Products/Views?code=NTBLT31716&key=3"><img src="~/Content/images/bestproduct_2_0911.png"><br /><br />교토 5스팟<br />49,900원 ~</a></li>
        <li><a href="/Products/Views?code=NTBLT31811&key=3"><img src="~/Content/images/best_okinawaman_180803.png"><br /><br />오키나와 북부 투어<br />38,800원 ~</a></li>
        <li><a href="/Products/Views?code=NTBLT22181&key=22"><img src="/Content/images/bestproduct_4_0911.png"><br /><br />오타루/조잔케이 투어<br />69,000원 ~</a></li>
    </ul>

</div>

<div class="box box3" id="hotelnrent">

    <h3>호텔렌트카<span>HOTEL & RENTALCAR</span></h3>

    <ul>
        <li><a href="https://www.booking.com/?aid=1294434" target="_blank"><img src="/Content/images/hotel.jpg"><p><span>호텔 & 숙박예약도</span><br>엔데이트립에서</p></a></li>
        <li><a href="https://www.web-rentacar.com/kr/agt/ntabi.asp?afrieitcd=ntabi" target="_blank"><img src="/Content/images/rentcar.jpg"><p><span>남은 일정은 자유롭게 렌트카로</span><br>엔데이트립에서</p></a></li>
    </ul>

</div>

<div class="box box4" id="community">

    <h3>커뮤니티<span>COMMUNITY</span></h3>

    <ul>
        <li><a href="/Community/Lists?t=notice"><div class="icon"><img src="/Content/images/icon_notice.png"></div><div class="icon_te">자유게시판<p>BOARD</p></div></a></li>
        <li><a href="/Community/Lists?t=review"><div class="icon"><img src="/Content/images/icon_review.png"></div><div class="icon_te">이용후기<p>REVIEW</p></div></a></li>
        <li><a href="/Community/Lists?t=qna"><div class="icon"><img src="/Content/images/icon_qna.png"></div><div class="icon_te">문의하기<p>Q & A</p></div></a></li>
        <li><a href="/Community/Lists?t=event"><div class="icon"><img src="/Content/images/icon_event.png"></div><div class="icon_te">이벤트<p>EVENT</p></div></a></li>
    </ul>

</div>

<div class="layerPop">
    <div class="layer-container">
        <div class="layer-conts">
            <a href="#">
                <img src="~/Content/images/popup/ndyatrip_pop_181001.png" />
            </a>
        </div>
        <div class="layer-foot">
            <input type="checkbox" value="today" name="today" id="today">
            <label for="today">오늘 하루 창 닫음</label>
            <a href="javascript:;" class="layer-close">[닫기]</a>
        </div>
    </div>
</div>
@*<div class="layerPop">
        <div class="layer-container">
            <div class="layer-conts">
                <a href="#">
                   <img src="~/Content/images/popup/popup_ndaytrip181008.jpg" />
                </a>
            </div>
            <div class="layer-foot">
                <input type="checkbox" value="today" name="today" id="today">
                <label for="today">오늘 하루 창 닫음</labe>
                <a href="javascript:;" class="layer-close">[닫기]</a>
            </div>
        </div>
    </div>
    <div class="layerPop">
        <div class="layer-container">
            <div class="layer-conts">
                <a href="#">
                   <img src="~/Content/images/popup/popup_20180503.jpg" />
                </a>
            </div>
            <div class="layer-foot">
                <input type="checkbox" value="today" name="today" id="today">
                <label for="today">오늘 하루 창 닫음</labe>
                <a href="javascript:;" class="layer-close">[닫기]</a>
            </div>
        </div>
    </div>
    <div class="layerPop">
        <div class="layer-container">
            <div class="layer-conts">
                <a href="/Community/Views?t=notice&k=24">
                   <img src="~/Content/images/popup/popup_ndaytrip180921.jpg" />
                </a>
            </div>
            <div class="layer-foot">
                <input type="checkbox" value="today" name="today" id="today">
                <label for="today">오늘 하루 창 닫음</label>
                <a href="javascript:;" class="layer-close">[닫기]</a>
            </div>
        </div>
    </div>*@

<style>
    .layerPop {
        display: none;
        position: absolute;
        top: 50px;
        right: 60px;
        z-index: 9999;
    }

    .layer-conts {
        font-size: 0;
    }

    .layer-foot {
        position: absolute;
        bottom: 1%;
        left: 35%;
    }

        .layer-foot input {
            float: left;
            width: 13px;
            height: 13px;
            margin-top: 6px;
            margin-right: 4px;
            vertical-align: text-bottom;
        }

        .layer-foot label {
            font-size: 12px;
            letter-spacing: -1px;
        }

        .layer-foot a.layer-close {
            position: absolute;
            bottom: 265px;
            left: 136px;
            font-size: 12px;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            text-indent: -9999px;
        }
</style>

@*<style>
    .layerPop {
        position: absolute;
        top: 50px;
        right: 60px;
        z-index: 9999;
    }
    .layer-conts {
        font-size: 0;
    }
    .layer-foot {
        width: 100%;
        height: 20px;
        padding: 0 10px;
        background-color: #2a2a2a;
        font-size: 12px;
        color: white;
    }
    .layer-foot input {
        vertical-align: text-bottom;
    }
    .layer-foot a.layer-close {
        display: block;
        position: absolute;
        bottom: 1px;
        right: 10px;
        width: 40px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: white;
    }
    </style>*@

<script>
    $(document).ready(function () {
        var date = new Date();

        if ($.cookie("layerpop") != (date.getMonth() + 1) + "-" + date.getDate()) {
            $("div.layerPop").show(0);
        }

        $(".layerPop a.layer-close").on("click", function () {
            if ($(this).siblings("#today").is(":checked")) {
                setCookie();
            }

            $("div.layerPop").fadeOut();
        });

        function setCookie() {
            var today = new Date();

            $.cookie("layerpop", (today.getMonth() + 1) + "-" + today.getDate(), { expires: 1 });
        }

        function setZero(num, len) {
            return "0".string(len - this.length) + num;
        };
    });
</script>